<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF exporter</title>
    <link rel="shortcut icon" href="#">
    <style>
    .left {
        margin: auto;
        text-align: left;
        width: 80%;
        border: 0px;
        padding: 50px;
    }

    ol {
        line-height: 40px;
    }

    li {
        font-size: 15px;
    }
    </style>
</head>
<body>
<a href="/">home</a>
<div class="left">
    <h2>AutoEval Download ({{ pdf_count }} / {{ total_count }})</h2>
    <ol>
        {% for pdf_name in pdf_list %}
        <li>
            <a href="/export?token={{ token }}&course_id={{ course_id }}&file_name={{ pdf_name }}">
                {{ pdf_name }}
            </a>
        </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>