<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF exporter</title>
    <link rel="shortcut icon" href="#">
    <style>
    .center {
        margin: auto;
        text-align: center;
        width: 80%;
        border: 0px;
        padding: 50px;
    }
</style>
</head>
<body>
<div class="center">
    download pdf, watch output directory
    <ul>
        {% for pdf_name in pdf_list %}
        <li>{{ pdf_name }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>