<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF exporter</title>
    <link rel="shortcut icon" href="#">
    <style>
    .left {
        margin: auto;
        text-align: left;
        width: 80%;
        border: 0px;
        padding: 50px;
        font-family: "Lucida Console", Monaco, monospace;
    }

    ul {
        line-height: 40px;
    }

    li {
        font-size: 15px;
    }
    </style>
</head>
<body>
<a href="/">home</a>
<div class="left">
    <h2>AutoEval</h2>
    <ul>
        <li>
            <form action="/submit" method="get">
                Submit : token = <input type="text" name="token" size="10">
                <input type="submit" value="Go">
            </form>
        </li>
        <li>
            <form action="/export" method="get">
                Export : token = <input type="text" name="token" size="10">
                <input type="submit" value="Go">
            </form>
        </li>
    </ul>
</div>
</body>
</html>